@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Switched to Light Scheme */
  color-scheme: light; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    /* Main App Background is now White */
    @apply min-h-screen bg-white text-gray-950 antialiased selection:bg-emerald-100 selection:text-emerald-900;
  }

  #root {
    @apply h-screen flex flex-col;
  }
}
